[submodule "Submodules/NanoDNA.CLIFramework"]
	path = Submodules/NanoDNA.CLIFramework
	url = https://github.com/Nano-DNA-Studios/NanoDNA.CLIFramework
[submodule "Submodules/NanoDNA.GitHubManager"]
	path = Submodules/NanoDNA.GitHubManager
	url = https://github.com/Nano-DNA-Studios/NanoDNA.GitHubManager
[submodule "Submodules/NanoDNA.DockerManager"]
	path = Submodules/NanoDNA.DockerManager
	url = https://github.com/Nano-DNA-Studios/NanoDNA.DockerManager
[submodule "Submodules/NanoDNA.ProcessRunner"]
	path = Submodules/NanoDNA.ProcessRunner
	url = https://github.com/Nano-DNA-Studios/NanoDNA.ProcessRunner
